
@{
    ViewBag.Title = "Phạm Quang Nhất - index";
}

<h2>Phạm Quang Nhất - index</h2>
<hr/>
<h3>Hiển thị dữ liệu Action trong controller</h3>
<h4>Fullname: @ViewBag.fullname</h4>
<h4>ngày sinh: @ViewData["Birthday"]</h4>
<h4>Di dong: @TempData["Phone"]</h4>

